<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/board/body.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

<script th:replace="~{/include/common_js.html::jquery_cdn}"></script>
<script th:replace="~{/include/board_js.html::js}"></script>

</head>
<body>

	<header th:replace="~{/include/header_nav_footer.html::header}">
	</header>
	
	<nav th:replace="~{/include/header_nav_footer.html::nav}">
	</nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				BOARD BODY
			</div>
			
			<div class="body">
				<div class="title" th:text="${boardDto.b_title}"></div>
				<div class="body" th:text="${boardDto.b_body}"></div>
			</div>
			
			<div class="board_list">
				<a th:href="@{/board/reply_form(b_no=${boardDto.b_no})}">reply</a>
				<a th:href="@{/board/list}">list</a>
				<a th:href="@{/board/modify_form(b_no=${boardDto.b_no})}">modify</a>
				<a th:href="@{/board/delete(b_no=${boardDto.b_no})}">delete</a>
			</div>
			
			
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}">
	</footer>
	
</body>
</html>